body{
  color: black;
  background-color: wheat;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .my-img{
    width: 500px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }