body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin: 0;
}

#display {
    grid-column: span 4;
    width: 200px;
    font-size: 20px;
}

button {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    grid-column: span 1;
}

div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
